<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head> <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
     
            <title>
                {% block title %}Welcome!{% endblock %}
            </title>
<link href="{{asset('../build/css/bootstrap/bootstrap4.2.1.css')}}
" rel="stylesheet">
<link href="{{asset('../build/css/bootstrap/cerulean.css')}}" rel="stylesheet">


<link rel="stylesheet" href="{{asset('../build/css/awesome.v5.71.css')}}">
  <link href="{{asset('../build/css/perso/stylebase.css')}}" rel="stylesheet">
  
                {% block stylesheets %} {% endblock %}
</head>
    <body>
                
     <div class="row no-gutters ">
        
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{path('home')}}">Bienvenue</a>
                <i class="fas fa-spinner fa-spin"></i>
            <i class="fas fa-circle-notch fa-spin"></i>
            <i class="fas fa-sync fa-spin"></i>
            <i class="fas fa-cog fa-spin"></i>
            <i class="fas fa-spinner fa-pulse"></i>
            <i class="fas fa-star-christmas fa-spin"></i> 
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{path('home')}}">Home <span class="sr-only">(current)</span></a>
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('base')}}">Base</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('meteo')}}">Meteo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('article')}}">Article</a>
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('news')}}">news</a>
                            </li>   
                           
                        </ul>
                    </div>
            </nav>
                 
            </div>
      
       
    <script src="{{asset('build/javascript/jquerymini.js')}}"></script>
    
    <script src="{{asset('build/javascript/popper.js')}}"></script>
   
    <script src="{{asset('build/javascript/bootstrap4.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script src="{{asset('build/javascript/appmeteo.js')}}"></script>  
    <script src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>
      
      
                                     
   

          <div class="container">
   
                    {% block body %}
    
                    {% endblock %}
        </div>
    <footer class="foot">
        
    <div class=" bg-dark ">
        <ul class="navbar-nav mr-auto expand-lg">
            <div class="extra">
            <div class="row no-gutters">
             <div class=".col-12 .col-sm-6 .col-lg-8"> 
                 <li> <a  href="http://github.com">
                <i class="fab fa-github fa-1x"></i>
            </a> 
            <a  href="http://linkedin.com"><i class="fab fa-linkedin fa-1x"></i></a>
            <a href="http://twitter.com"> 
                <i class="fab fa-twitter fa-1x"></i>
            </a> 
            </li>
                   
              </div> 
              <div class=".col-1.col-dm-2"></div>
              <div class=".col-5.col-lg-4">                       
                   
               
                <div class="droite"><li>
                  <p> <a href="link copyright"> <span style="color:whitesmoke">
                    <i class="fa fa-quote-right "  aria-hidden="true"></i>--
                             
                @copyright --<i class="fa fa-quote-right "  aria-hidden="true"></i></span></a></p>
               </li></div>
            </div></div>
                    </ul>
    </div></div>
             
               
    </footer>
           
           
        
                    {% block javascripts %}{% endblock %}
              
          </body></html>